{% extends 'base.html.twig' %}

{% block title %} Generate Query from CSV {% endblock %}

{% block body %}
    <style>
        label.required:after {
            content: "";
            color: darkred;
        }
    </style>

    <div class="col-sm-12 col-md-12 text-center">
        <h4>Generate New</h4>
    </div>
    <hr/>

    <div class="row">
        <div class="col-sm-12 col-md-3"></div>
        <div class="col-sm-12 col-md-6 col-md-offset-0">

            {{ form_start(form) }}
            {{ form_widget(form) }}

            <button class="btn btn-success">{{ button_label|default('Generate') }}</button>
            {{ form_end(form) }}

        </div>
        <div class="col-sm-12 col-md-3"></div>
    </div>

{% endblock %}
