{# templates/bundles/TwigBundle/Exception/error500.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}500 Internal Server Error{% endblock %}

{% block body %}
    <h1>500 Internal Server Error</h1>
    <p>Sorry, something went wrong on the server. Please try again later.</p>
{% endblock %}
