{# templates/bundles/TwigBundle/Exception/error403.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}403 Forbidden{% endblock %}

{% block body %}
    <h1>403 Forbidden</h1>
    <p>You do not have permission to access this resource.</p>
{% endblock %}